@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*------- Start Header and Footer ------*/
header {
  font-family: "Rubik", sans-serif;
  background-color: white;
  border-bottom: #f8f8f8 solid 5px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
header .header-logo.d-none.d-md-block {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}
header .menu-header {
  color: #6a4029;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
header div.menu-header .product a {
  font-weight: bold;
  color: #6a4029;
}
.main-product div.add-content .favorit a {
  font-weight: bold;
  color: #6a4029;
  border-bottom: #6a4029;
}
header .menu-header a:link,
header .menu-header a:visited {
  color: #4f5665;

  text-decoration: none;
}
header .menu-header a:hover {
  color: #6a4029;
}
.menu-header div {
  margin-left: 5px;
}
header .menu-header a:link,
header .menu-header a:visited {
  color: #4f5665;

  text-decoration: none;
}
header .menu-header a:hover {
  color: #6a4029;
}
.menu-header div {
  margin-left: 5px;
}
.home:hover,
.product:hover,
.cart:hover,
.history:hover {
  font-weight: bold;
}
header .notif-header {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  display: flex;
  align-items: flex-start;
  padding: 60px;
  font-family: "Rubik", sans-serif;
  background-color: #f8f8f8;
}
footer .footer-profile {
  font-family: "Rubik", sans-serif;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-profile .profile-logo {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-profile .profile-desc {
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer-profile .profile-social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 40px;
}
.profile-social a {
  margin-right: 15px;
}
.profile-social a img {
  border-radius: 50%;
}
.footer-profile .copyright {
  color: #afb5c0;
}
footer .footer-product {
  flex: 1;
  width: 20%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  height: 300px;
  margin-right: 10px;
}
.footer-product div a:link,
.footer-product div a:visited {
  color: #0b132a;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 7px;
  text-decoration: none;
}
.footer-product div a:hover {
  color: #6a4029;
  font-weight: bold;
}
.footer-product div a {
  color: #4f5665;
}
/* Media Query Header */
@media (max-width: 420px) {
  .header-menu div {
    font-size: 10px;
  }
  .footer-profile {
    margin-left: -30px;
    height: 200px;
  }
  .footer-profile .profile-logo {
    font-size: 12px;
  }
  .footer-profile .profile-desc {
    font-size: 11px;
    line-height: 10px;
    width: 100px;
  }
  footer .footer-product {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
    left: 50px;
  }
  .copyright {
    font-size: 10px;
  }
  .footer-product div a:link {
    font-size: 10px;
    line-height: 20px;
  }
  .footer-profile .profile-social img {
    width: 20px;
  }
}
/* =========================batas style header dan footer================================================== */
main {
  height: 1000px;
  margin-top: 100px;
}
.flex-container .item1 img,
.flex-container .item2 img,
.flex-container .item3 img,
.flex-container .item4 img,
.flex-container .item5 img,
.flex-container .item6 img,
.flex-container .item7 img,
.flex-container .item8 img,
.flex-container .item9 img,
.flex-container .item10 img,
.flex-container .item11 img,
.flex-container .item12 img {
  border-radius: 50%;
}
.flex-container .item1 p.price,
.flex-container .item2 p.price,
.flex-container .item3 p.price,
.flex-container .item4 p.price,
.flex-container .item5 p.price,
.flex-container .item6 p.price,
.flex-container .item7 p.price,
.flex-container .item8 p.price,
.flex-container .item9 p.price,
.flex-container .item10 p.price,
.flex-container .item11 p.price,
.flex-container .item12 p.price {
  color: #6a4029;
}
/* =============================== main promo ============================================================ */
.main-promo {
  border-right: #f8f8f8 solid 5px;
  height: 1005px;
  background-color: white;
}
.promo-text {
  text-align: center;
  color: #6a4029;
  margin-top: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}
.promo-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 20px;
}
.promo-desc li {
  list-style-type: none;
}
.promo-content .flex-container {
  background-color: white;
  height: 500px;
  display: flex;
}
.box1 {
  position: absolute;
  height: 472px;
  width: 284px;
  left: 100px;
  background-color: #ffcb65;
  border-radius: 15px;
}
.box1 .add-content {
  height: 320px;
  border-bottom: black dashed 2px;
}
.add-content .image-content {
  margin-top: 50px;
  margin-left: 75px;
}
.add-content .image-content img {
  border-radius: 50%;
}
.add-content .desc-content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.add-content .disc-content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.box1 .bottom {
  height: 150px;
}
.bottom .image-content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.bottom .desc-content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  text-align: center;
}
.bottom .disc-content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 101.34%;
  text-align: center;
}
.box2 {
  position: absolute;
  width: 284px;
  height: 400px;
  background-color: black;
  margin-top: 40px;
  left: 130px;
  border-radius: 15px;
}
.box3 {
  position: absolute;
  background-color: #895537;
  width: 284px;
  height: 338px;
  margin-top: 70px;
  left: 160px;
  border-radius: 15px;
}
.add-coupon {
  width: 284px;
  height: 64px;
  margin-left: 87px;
  top: 840px;
  background: #6a4029;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: white;
}
.desc-coupon {
  margin-top: 120px;
  margin-left: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.desc-coupon li {
  list-style-type: none;
  font-weight: normal;
  margin-top: 10px;
}
/* =============================== main product =============================== */
.main-product {
  background-color: white;
  overflow: auto;
}
.main-product .add-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  margin-top: 20px;
}
.main-product .add-content div {
  margin-left: 5px;
}
.main-product .add-content a:link,
.main-product .add-content a:visited {
  color: #9f9f9f;
  text-decoration: none;
}
.main-product .add-content a:hover {
  color: #6a4029;
}
.favorit:hover,
.coffee:hover,
.non-coffe:hover,
.foods:hover,
.add-on:hover {
  font-weight: bold;
  border-bottom: 3px solid #6a4029;
}
.card-grid .flex-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
.card-grid div div {
  width: 156px;
  height: 212.41px;
  margin-left: 50px;
  margin-top: 60px;
  text-align: center;
  border-radius: 15px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-grid div div img {
  position: relative;
  left: 0;
  top: -50px;
  width: 140px;
  height: 140px;
}
.card-grid div div .name {
  position: relative;
  top: -50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  padding: 5px;
}
.card-grid div div .price {
  position: relative;
  top: -50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
}
/* Media Query */
@media (max-width: 1300px) {
  .promo-text {
    text-align: left;
    margin-left: 20px;
  }
  .promo-desc {
    text-align: left;
  }
  .promo-content .flex-container {
    height: 500px;
  }
  .box1 {
    height: 472px;
    width: 150px;
    left: 50px;
  }
  .add-content .image-content {
    margin-top: 50px;
    margin-left: 10px;
  }
  .add-content .desc-content {
    font-size: 17px;
  }
  .add-content .three {
    font-size: 10px;
  }
  .box1 .bottom {
    height: 150px;
  }
  .bottom .image-content {
    font-size: 10px;
  }
  .bottom .desc-content {
    font-size: 20px;
  }
  .bottom .three {
    font-size: 9px;
  }
  .box2 {
    height: 0px;
  }
  .box3 {
    height: 0px;
  }
  .add-coupon {
    width: 100px;
    height: 64px;
    margin-left: 50px;
    font-size: 10;
    line-height: 20px;
  }
  .desc-coupon {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 10px;
    line-height: 14px;
  }
  .card-grid .flex-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-grid div div {
    width: 105px;
    height: 150.41px;
  }
  .card-grid div div img {
    width: 70px;
    height: 70px;
    top: -30px;
  }
  .card-grid div div .name {
    font-size: 17px;
    top: -20px;
    padding: 0px;
  }
  .card-grid div div .price {
    font-size: 12px;
    top: -30px;
  }
  .flex-container .discount {
    bottom: 175px;
    left: 65px;
    width: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 780px) {
  .card-grid .flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-grid div div {
    width: 70px;
    height: 80.41px;
  }
  .card-grid div div img {
    width: 50px;
    height: 50px;
    top: -30px;
  }
  .card-grid div div .name {
    font-size: 10px;
    top: -30px;
    padding: 1px;
  }
  .card-grid div div .price {
    font-size: 8px;
    top: -40px;
  }
  .bot {
    margin-top: 10px;
    font-size: 10px;
  }
  .flex-container .discount {
    bottom: 145px;
    left: 45px;
    width: 30px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 650px) {
  .box1 {
    width: 130px;
    left: 18px;
  }
  .image-content img {
    width: 90px;
    margin-left: 10px;
  }
  .add-coupon {
    margin-left: 0px;
  }
  .header-menu div {
    font-size: 15px;
  }
  footer .footer-profile {
    width: 200px;
  }
  footer .profile-desc {
    font-size: 111px;
    line-height: 10px;
    width: 50px;
    padding: 5px;
  }
}
/* ======================================== for phone media ============================================== */
@media (max-width: 420px) {
  .promo-text {
    text-align: center;
    margin-left: 0px;
    font-size: 15px;
    background-color: lightyellow;
    border-radius: 17px;
  }
  .promo-desc {
    text-align: center;
    font-size: 5px;
    margin-left: -15px;
    width: 120px;
  }
  .promo-desc li {
    margin: 0 0 0 0;
  }
  .promo-content .flex-container {
    height: 200px;
  }
  .box1 {
    height: 302px;
    width: 100px;
    left: 5px;
  }
  .box1 .add-content {
    height: 190px;
  }
  .add-content .image-content img {
    margin-top: 0px;
    margin-left: 10px;
    width: 60px;
  }
  .add-content .desc-content {
    font-size: 10px;
  }
  .add-content .three {
    font-size: 6px;
  }
  .box1 .bottom {
    height: 50px;
  }
  .bottom .image-content {
    font-size: 8px;
  }
  .bottom .desc-content {
    font-size: 10px;
  }
  .bottom .three {
    font-size: 5px;
    margin-left: 0px;
  }
  .box2 {
    height: 0px;
  }
  .box3 {
    height: 0px;
  }
  .add-coupon {
    width: 50px;
    height: 34px;
    margin-left: 10px;
    margin-top: 110px;
    font-size: 10;
    line-height: 10px;
    font-size: 10px;
  }
  .desc-coupon {
    margin-top: 60px;
    margin-left: 10px;
    font-size: 10px;
    line-height: 14px;
  }
  .add-content div {
    font-size: 10px;
  }
  .card-grid .flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-grid div div {
    width: 50px;
    height: 70.41px;
  }
  .card-grid div div img {
    width: 40px;
    height: 40px;
    top: -15px;
  }
  .card-grid div div .name {
    font-size: 8px;
    top: -15px;
  }
  .card-grid div div .price {
    font-size: 5px;
    top: -30px;
  }
  .flex-container .discount {
    bottom: 110px;
    left: -20px;
    width: 30px;
    font-size: 7px;
    line-height: 30px;
  }
  /* ======================================== MEDIA UNTUK FOOTER ====================================== */

  .header-menu div {
    font-size: 10px;
  }
  .footer-profile {
    margin-left: -30px;
    height: 200px;
  }
  .footer-profile .profile-logo {
    font-size: 12px;
  }
  .footer-profile .profile-desc {
    font-size: 11px;
    line-height: 10px;
    width: 100px;
  }
  footer .footer-product {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
    left: 50px;
  }
  .copyright {
    font-size: 10px;
  }
  .footer-product div a:link {
    font-size: 10px;
    line-height: 20px;
  }
  .footer-profile .profile-social img {
    width: 20px;
  }
}
